<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post_list.html</title>
</head>
<body>
    <h1>AskDJango</h1>

    <p>안녕하세요. 여러분의 파이썬 </p>

    <form action="" method ="get">
         <input type="text" name ="q" value ="{{ q }}">
         <input type="submit" value = "search">
    </form>
    
    <ul>
    {% for post in post_list %}
        <li>
            {{post.id}}.
            {{post.title}} |
            <small>by {{post.author}} |</small>
            <small>by {{post.updated_at}}</small>
        </li>
    {% endfor %}
    </ul>

    <ul>
    <li>http://localhost:8000/blog/ 주소로 접속해보세요.</li>
</ul>
</body>
</html>